.mod {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: #fff; MARGIN-BOTTOM: 0.77em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.mod {
	BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}

.mod {
	BORDER-LEFT-COLOR: #b0bdc6; BORDER-BOTTOM-COLOR: #b0bdc6; BORDER-TOP-COLOR: #b0bdc6; BORDER-RIGHT-COLOR: #b0bdc6
}
.mod .hd {
BACKGROUND: url(../images/t1/btns.gif) #fff repeat-x 0px 100%
}
.mod .hd {
	BORDER-LEFT-COLOR: #b0bdc6; BORDER-BOTTOM-COLOR: #b0bdc6; BORDER-TOP-COLOR: #b0bdc6; BORDER-RIGHT-COLOR: #b0bdc6
}
.mod .hd {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 0px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 93%; PADDING-BOTTOM: 0.15em; BORDER-LEFT: 0px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
.mod .hd {
	COLOR: #16387c; TEXT-DECORATION: none
}
.mod .hd {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 0px solid; PADDING-LEFT: 0.45em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; BORDER-LEFT: 0px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: 1px solid
}
.mod .hd A {
	FONT-WEIGHT: normal
}
.mod .hd H2 A {
	FONT-WEIGHT: bold
}
.mod .hd H2 {
	FONT-WEIGHT: bold
}
.mod .bd {
	padding: 5px;	
}
.mod .bd A{
	TEXT-DECORATION: none;	
}
.mod {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: #fff; MARGIN-BOTTOM: 0.77em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.mod {
	BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}

.mod {
	BORDER-LEFT-COLOR: #b0bdc6; BORDER-BOTTOM-COLOR: #b0bdc6; BORDER-TOP-COLOR: #b0bdc6; BORDER-RIGHT-COLOR: #b0bdc6
}
.mod .hd {
BACKGROUND: url(../images/t1/btns.gif) #fff repeat-x 0px 100%
}
.mod .hd {
	BORDER-LEFT-COLOR: #b0bdc6; BORDER-BOTTOM-COLOR: #b0bdc6; BORDER-TOP-COLOR: #b0bdc6; BORDER-RIGHT-COLOR: #b0bdc6
}
.mod .hd {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 0px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 93%; PADDING-BOTTOM: 0.15em; BORDER-LEFT: 0px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
.mod .hd {
	COLOR: #16387c; TEXT-DECORATION: none
}
.mod .hd {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 0px solid; PADDING-LEFT: 0.45em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.2em; BORDER-LEFT: 0px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: 1px solid
}
.mod .hd A {
	FONT-WEIGHT: normal
}
.mod .hd H2 A {
	FONT-WEIGHT: bold
}
.mod .hd H2 {
	FONT-WEIGHT: bold
}
.mod .bd {
	padding: 5px;	
}
.mod .bd A{
	TEXT-DECORATION: none;	
}


